 body, html {height: 100% !important;}
 main {   height: 100%;}

 .isichatColorR {
     color : #810c0c;
 }
.nameroom {
    font-family: Brush Script Std, Brush Script MT, cursive;
    font-weight: bold;
}



.title-page {
    font-family: Brush Script Std, Brush Script MT, cursive;
    color : rgba(255, 255, 255, 0.75);
    text-align: center;
}
.bg-isi {
    background-color: #810c0c !important;
    opacity: .7;
}
.space {
    height: 56px;
}
.logoFont {
    font-family: cursive;
}

#msgcanva {
    height: 500px;
    overflow:auto;
}

#carouselExampleIndicators {
    width: 97%;
}
.intro {
    color : #c08484 !important;
}

#Videochat {
position: fixed;
right: 0;
bottom: 350px;
min-width: 100%;
min-height: 100%;
z-index: -1;
}
#Imageochat {
position: fixed;
right: 0;
bottom: 430px;
min-width: 100%;
min-height: 100%;
overflow: hidden;
z-index: -1;
}
.imgchat {
     background: url("/media/website/bg_chat.PNG") no-repeat;
     background-size: 100% 200px;

}
footer {
    height: 75px;
}