 body, html {height: 100% !important;}
 main {   height: 100%;}

 .isichatColorR {
     color : #810c0c;
 }
.nameroom {
    font-family: Brush Script Std, Brush Script MT, cursive;
    font-weight: bold;
}
.title-page {
    font-family: Brush Script Std, Brush Script MT, cursive;
    color : rgba(255, 255, 255, 0.75);
    text-align: center;
}
.bg-isi {
    background-color: #810c0c !important;
}
.space {
    height: 56px;
}
.logoFont {
    font-family: cursive;
}

#msgcanva {
    height: 500px;
    overflow:auto;
}

.carousel-item img {

}