{% extends 'baseLayout.html' %}
{% load static %}
{% load i18n %}
{% block CustomCSS %}
    <style>
        main {
              background: url({{ room.photo.url }}) no-repeat center center fixed;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
            height: 100%;

        }
        .opct {
            opacity: .9;
        }

        h1.title-page, #cont {
            border-radius: 5px;

        }
        * {
            border-color: #95989b !important;
        }
    </style>
{% endblock %}
{% block title %}
    {% trans ' - room ' %}{{ nameroom }}
{% endblock %}
{% block content %}
     <img src="/media/website/bg_chat.PNG" id="Imageochat" alt="" >
    <h1 id="roomtitle" class="title-page bg-light text-dark p-2 opct"> <i class="fas fa-comments"></i> {{ nameroom }}</h1>
    <br>
    <div id="cont" class="container-fluid">
        <div class="row bg-light opct rounded mb-5">
            <div class="col-12 col-sm-12 col-md-7 col-lg-8 m-2 border">
                <div id="msgcanva" class="border-info col-12 col-md-12 p-1" >
                    <div class='col-12 border-bottom p-0 row' style="clear: both;min-height: 100px">
                        <div class="isichatColorR text-center col-md-2 col-12 p-1 border-right" style="border-right-style: dashed !important;">
                             <img src="/media/website/IsiChatLogo.png" class="m-1 m-auto d-block" style="border-radius: 10px" height="40px" width="40px" alt="photo_{{ user.get_username }}">
                                     {% if issu %}

                                     {% endif %}
                                Isi Chat
                        </div>
                        <div class="d-inline col-12 col-md-9 p-1 bg-light">
                            <h4 class="">
                               <small>{% trans 'Welcom to '%}<span class="isichatColorR nameroom"> {{ nameroom }} </span> {% trans '  room chat, please be aceptable and understable, and remember with our atitude we raise, Enjot to chat' %} .</small>
                            </h4>
                        </div>
                    </div>
                    {% for chat in chats %}
                         <div class='col-12 border-bottom p-0 row' style="clear: both;min-height: 100px">
                        <div class="text-center col-md-2 col-12 p-1 border-right" style="border-right-style: dashed !important;">
                             <img src="{{ chat.user.photo.url}}" class="m-1 m-auto d-block" style="border-radius: 10px" height="40px" width="40px" alt="photo_{{ chat.user.user.username}}">
                                     {% if chat.user.user.is_staff %}
                                       <i class="text-danger fas fa-shield-alt"></i>
                                     {% endif %}
                                {{ chat.user.user.username }}
                        </div>
                        <div class="d-inline col-12 col-md-9 p-1 bg-light">
                            <h4 class="">
                               <small>{{ chat.message }}</small>
                            </h4>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <form action="#!" method="post" id="chatFrom" style="clear: both">
                    {% csrf_token %}
                    <input type="hidden" id="username" name="username" value="{{ user.get_username }}">
                    <input type="hidden" id="avatar" name="avatar" value="{{ uprofile.photo.url }}">
                    <input type="hidden" id="us" name="us" value="{{ issu }}">
                    <textarea id="msg" name="message" rows="3" class="input-group-text col-8 col-md-9 col-sm-9 col-lg-10 d-inline mt-1 mb-1 float-left"></textarea>
                    <input type="submit" class="btn btn-success m-1" style="height: 85px" name="buttons" value="send">
                </form>
            </div>
            <div id="psnC" class="col-12 col-sm-12 col-md-4 col-lg-3 m-2 border">
                 <div id="dvNbrP" class="col-md-12 col-12 p-1 border-bottom">
                    <h6><span id="nbrP"></span> {% trans 'online ' %}</h6>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

 {% block CustomJS %}
     <script>
     </script>
   <script src="{% static 'javascript/plugin.js' %}"></script>

    {% endblock %}