{% extends 'baseLayout.html' %}
{% load static %}
{% load i18n %}
{% block CustomCSS %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/fileInput.css' %}">
    <style>
        main {
              background: url({{ room.photo.url }}) no-repeat center center fixed;
              -webkit-background-size: cover;
              -moz-background-size: cover;
              -o-background-size: cover;
              background-size: cover;
            height: 100%;

        }
        .opct {
            opacity: .9;
        }

        h1.title-page, #cont {
            border-radius: 5px;

        }
        * {
            border-color: #95989b !important;
        }
        .card.light-version .file-field input[type=text] {
            border-bottom: 1px solid #fff; }
        .card.light-version .file-field input[type=text]::-webkit-input-placeholder {
            color: #fff;
            font-weight: 300; }
        .card.light-version .file-field input[type=text]::-moz-placeholder {
            color: #fff;
            font-weight: 300; }
        .card.light-version .file-field input[type=text]:-ms-input-placeholder {
            color: #fff;
            font-weight: 300; }
        .card.light-version .file-field input[type=text]::placeholder {
            color: #fff;
            font-weight: 300; }
        .card.light-version .file-field input[type=text]:focus:not([readonly]) {
            -webkit-box-shadow: 0 1px 0 0 #fff;
            box-shadow: 0 1px 0 0 #fff; }
        .card.light-version .file-field input[type=text].valid {
            border-bottom: 1px solid #00c851;
            -webkit-box-shadow: 0 1px 0 0 #00c851;
            box-shadow: 0 1px 0 0 #00c851; }
        .card.light-version .file-field input[type=text]:focus.valid {
            border-bottom: 1px solid #00c851;
            -webkit-box-shadow: 0 1px 0 0 #00c851;
            box-shadow: 0 1px 0 0 #00c851; }
        .clickable {
            cursor: pointer;
        }
        .clickable:hover {
            color: #b00918;
        }
        .alert, #container_modal_image {
            display: none;
        }
    </style>

{% endblock %}
{% block title %}
    {% trans ' - room ' %}{{ nameroom }}
{% endblock %}
{% block content %}
     <img src="/media/website/bg_chat.PNG" id="Imageochat" alt="" >
    <h1 id="roomtitle" class="title-page bg-light text-dark p-2 opct"> <i class="fas fa-comments"></i> {{ nameroom }}</h1>
    <br>
    <div id="cont" class="container-fluid">
        <div class="row bg-light opct rounded mb-5">
            <div class="col-12 col-sm-12 col-md-7 col-lg-8 m-2 border">
                <div id="msgcanva" class="border-info col-12 col-md-12 p-1" >
                    <div class='col-12 border-bottom p-0 row' style="clear: both;min-height: 100px">
                        <div class="isichatColorR text-center col-md-2 col-12 p-1 border-right" style="border-right-style: dashed !important; border-right-color: #95989b  !important;">
                             <img src="/media/website/IsiChatLogo.png" class="m-1 m-auto d-block" style="border-radius: 10px" height="40px" width="40px" alt="photo_{{ user.get_username }}">
                                     {% if issu %}

                                     {% endif %}
                                Isi Chat
                        </div>
                        <div class="d-inline col-12 col-md-9 p-1 bg-light">
                            <h4 class="">
                               <small>{% trans 'Welcom to '%}<span class="isichatColorR nameroom"> {{ nameroom }} </span> {% trans '  room chat, please be aceptable and understable, and remember with our atitude we raise, Enjot to chat' %} .</small>
                            </h4>
                        </div>
                    </div>
                    {% for chat in chats %}
                         <div class='col-12 border-bottom p-0 row' style="clear: both;min-height: 100px">
                        <div class="text-center col-md-2 col-12 p-1 border-right" style="border-right-style: dashed !important; border-right-color: #95989b  !important;">
                             <img src="{{ chat.user.photo.url}}" class="m-1 m-auto d-block" style="border-radius: 10px" height="40px" width="40px" alt="photo_{{ chat.user.user.username}}">
                                     {% if chat.user.user.is_staff %}
                                       <i class="text-danger fas fa-shield-alt"></i>
                                     {% endif %}
                                {{ chat.user.user.username }}
                        </div>
                        <div class="d-inline col-12 col-md-9 p-1 bg-light">
                            <h6 class="">
                               {{ chat.message|safe }}
                            </h6>
                        </div>
                    </div>
                    {% endfor %}

                </div>
                <form action="#!" class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" method="post" id="chatFrom" enctype="multipart/form-data" style="clear: both">
                    {% csrf_token %}
                    <input type="hidden" id="username" name="username" value="{{ user.get_username }}">
                    <input type="hidden" id="avatar" name="avatar" value="{{ uprofile.photo.url }}">
                    <input type="hidden" id="us" name="us" value="{{ issu }}">
                    <input type="hidden" id="room" name="room" value="{{ nameroom }}">
                    <div class="row">
                        <textarea id="msg" name="message" class="input-group-text col-12 col-sm-12 col-md-10 col-lg-10 col-xl-8 float-left m-1"></textarea>
                        <div class="row col-6 col-sm-6 col-md-2 col-lg-2 col-lg-2 m-1 p-1">
                            <input type="submit" class="btn btn-success col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-1" style="height: 50px" name="buttons" value="send">
                            <input type="file" id="fileimg" name="image" />
                            <label for="fileimg" class="btn btn-3 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-1" style="height: 50px"><span><i class="fas fa-image"></i></span></label>
                        </div>
                        <div class="alert alert-danger m-1 p-1 col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" role="alert">
                             <span class="p-1"><i class="fas fa-exclamation-circle"></i></span>
                            <span class="p-1"> {% trans 'Only this formats of image are supported :' %} .jpg, .png, .jpeg, .gif</span>
                            <span class="text-right float-right p-1 clickable"><i class="fas fa-times"></i></span>

                        </div>
                    </div>
                </form>
            </div>
            <div id="psnC" class="col-12 col-sm-12 col-md-4 col-lg-3 m-2 border">
                 <div id="dvNbrP" class="col-md-12 col-12 p-1 border-bottom">
                    <h6><span id="nbrP"></span> {% trans 'online ' %}</h6>
                </div>
            </div>
        </div>
    </div>

    <!----------------------------------------------- Model Image  ----------------------------------------->
      <div id="container_modal_image" class="back-Modal">
        <div class="container-image">
            <div class="w-100 text-right p-0 pt-3 pr-3 m-0">
                <span id="close_image" class="font-weight-bold m-0 mx-auto">X</span>
            </div>
            <hr>
            <div id="image" class="m-0 p-0 text-center"></div>
        </div>
      </div>
    <!----------------------------------------------- End Model Image  ------------------------------------->

{% endblock %}

 {% block CustomJS %}
      <script src="{% static 'javascript/showModelImage.js' %}"></script>
     <script>
         $('.alert').hide();
         $(document).ready(function() {
                $("#msg").emojioneArea();
                $(".clickable").on('click', function (evt){
                    $(this).closest('.alert').hide();
                })
         });
     </script>
   <script src="{% static 'javascript/plugin.js' %}"></script>

    {% endblock %}