{% extends 'baseLayout.html' %}
{% load i18n %}
{% load static %}
{% block title %}
    {% trans 'Rooms' %}
{% endblock %}
{% block content %}
    <h1 class="title-page text-dark m-2"> <i class="fas fa-door-open"></i> {% trans 'Rooms' %}</h1>
    <div class="container mt-5 p-0">
        <div class="row">
            {% for room in rooms %}
                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-2">
                       <a class="font-weight-bold" href="{% url 'chats:chatr' slug=room %}">
                           <div class="btn-outline-info text-dark p-2 border border-info">
                               <img src="{{ room.photo.url }}" width="98%" height="200px" alt="">
                               <span class="">{{ room }}</span>
                               <span class="float-right">
                                   <i class="fas fa-users"></i>
                                    {% for key, value in dataP.items %}
                                            {% ifequal key room.nameRoom %}
                                               {{value}}
                                            {% endifequal %}
                                   {% endfor %}
                               </span>
                            </div>
                       </a>
                    </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
